name: Request Unity Activation File

on:
  workflow_dispatch:

jobs:
  request:
    name: Request activation file
    runs-on: ubuntu-latest
    steps:
      - name: Request activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getAlf
        with:
          unityVersion: 6000.3.6f1

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: unity-activation-file
          path: ${{ steps.getAlf.outputs.filePath }}
